<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment 1.1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Moment1.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">Moment1</a>
                         <div class="card">
                            <div class="card-body">Dagens datum är @DateTime.Today.ToString("yyyy-MM-dd")</div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
                <nav class="navbar navbar-light bg-white border-right box-shadow d-lg-block">
                    <div class="container">
                        <div class="navbar-collapse">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Startsida</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/About">Om mig</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>
        <div class="col-md-9">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>


    <footer class="border-top footer text-muted">
        <div class="container">
            Av Cecilia Kembring. Kontakta mig via e-post: <a href="mailto:ceke2200@student.miun.se">ceke2200@student.miun.se</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>