@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h3>Om mig</h3>
    <p>Hej på er,</p>
    <p>Jag heter Cecilia och läser just nu kursen Webbutveckling med .Net, som en del av programmet webbutveckling.</p>
    
    <p>Här är 5 fakta om mig:</p>
    <button class="btn btn-light" onclick="showFact()">Visa fakta</button>
        <div id="fact">
            <p>Ålder: precis fyllda 30 år!</p>
            <p>Favoritmat: Ceasarsallad</p>
            <p>Gör helst på fritiden: Hittar på något äventyr med mina barn</p>
            <p>Favorit film: Forrest Gump</p>
            <p>Favoritresemål: Skottland</p>
        </div>
</div>
