@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="display-2">Välkommen!</h1>
    <p>Denna webbplats är skapad i moment 1.1 i kursen Webbutveckling med .NET.</p>
    <p>Uppgiften går ut på att skapa en webbplats med ASP.net Core och Razor. Webbplatsen ska innehålla följande sidor:</p>
    <ul>
        <li>En startsida (Denna sida)</li>
        <li>En sida med Razor, där olika funktioner i Razor visas</li>
        <li>En sida med lite information om mig, som har skapat sidan</li>
    </ul>

    <p>Man ska även skapa en video-presentation där man visar momentet. Se videon här nedan:</p>
      <iframe width="350" 
                height="300" 
                src="http://www.youtube.com/embed/fxCEcPxUbYA" 
                frameborder="0" 
                allowfullscreen></iframe>

</div>
